<h2>
  Sign Up
</h2>

<form action="<%= users_url %>" method="post" class="auth-form">
  <%= auth_token %>

  <label for="user-email-input">Email:</label>
  <input
    type="text"
    name="user[email]"
    id="user-email-input"
  />

  <label for="user-password-input">Password:</label>
  <input
    type="password"
    name="user[password]"
    id="user-password-input"
  />

  <input
    type="submit"
    value="Sign Up"
  />
</form>
