<section>
  <h2>
    Edit <%= @band.name %>
  </h2>

  <form action="<%= band_url(@band.id) %>" method="POST" class="edit-form">
    <%= auth_token %>

    <input type="hidden" name="_method" value="PATCH" />

    <label for="band-name-input">Band name:</label>
    <input
      type="text"
      name="band[name]"
      value="<%= @band.name %>"
      id="band-name-input"
    />

    <input
      type="submit"
      value="Save"
    />
  </form>
</section>
